<div class="intro-container resume-panel">
  <h3 id="{{ site.about_title | slugify | default: 'about-me' }}">{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix about-row">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-md-3 no-print about-photo">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="col-xs-12 {% if site.about_profile_image %}col-md-9 col-print-12{% endif %} about-text">
      {{ site.about_content | strip | markdownify }}
    </div>
  </div>
</div>
